@model SuiteLevelWebApp.Models.ProvisionDemoData
@{
    ViewBag.Title = "Provisioning Demo Data";
}

@Styles.Render("~/Content/jqueryui")

<style>
    .contoso-demo-date label
    {
        font-weight:normal;
    }
    .contoso-demo-datebtn
    {
        margin-left:80px;
    }
</style>
@using (Html.BeginForm("CreateDemoData", "O365SiteProvisioning", FormMethod.Post))
{
    <div class="row">
        <h2>Provision Demo Data</h2>

        <br/>
        <div class="contoso-demo-date">
            @Html.LabelFor(model => model.dateDemo)
            @Html.EditorFor(model => model.dateDemo)
        </div>
        <br />
        <div class="contoso-demo-datebtn">
            @Html.ValidationSummary(true)
            <input class="btn btn-default" type="submit" value="Populate" />
        </div>
    </div>

    <div class="row">
        <h4>@Model.Message</h4>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    <script>
    $(function () {
        $("#dateDemo").datepicker({ dateFormat: 'mm/dd/yy' });
    });
    </script>
}
