@{
    Layout = "~/Views/Shared/_MailAFOLayout.cshtml";
    ViewBag.Title = "Mail App For Office";
}

<script type="text/javascript">
    $(function () {

        //replace repair link href with app link and incident id from location
        var locArray = document.location.pathname.split('/');
        var loc = locArray[locArray.length - 1];
        $('.repair-link').attr('href', 'repairApp://' + loc);
    })
</script>

<div class="container body-content mail">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-gray-light">
        <div class="row">
            <ul>
                <li class="left-panel col-xs-4 col-sm-4 col-md-4 col-lg-4">

                    <div class="details">
                        <h1>
                            Inspection Details
                        </h1>


                        <div class="details-block">

                            <div class="details-img">
                                <a href="/Dashboard/Property/@Model.inspection.sl_propertyID.Id">
                                    <img src="@Model.inspection.sl_propertyID.propertyImgUrl" />
                                </a>
                            </div>

                            <div class="content-block">
                                <div class="content-row">
                                    <h2>@Model.inspection.sl_propertyID.Title</h2>
                                </div>

                                <div class="content-row fs-smaller">
                                    <span>
                                        @Model.inspection.sl_propertyID.sl_address1
                                        @Model.inspection.sl_propertyID.sl_address2
                                    </span>
                                </div>

                                <div class="content-row fs-smaller">
                                    <span>Owned by</span>
                                    <span>@Model.inspection.sl_propertyID.sl_owner</span>
                                </div>
                            </div>

                            <div class="content-block">
                                <div class="content-row">
                                    <h2>Inspector: @Model.inspection.sl_inspector</h2>
                                </div>

                                <div class="content-row fs-smaller">
                                    <span>@Model.inspection.sl_emailaddress</span>
                                </div>
                                 
                                <div class="content-row fs-smaller">
                                    <span>Inspection date: </span>
                                    <span>@Model.inspection.sl_datetime</span>
                                </div>
                            </div>

                        </div>
                    </div>


                <li class="right-panel col-xs-8 col-sm-8 col-md-8 col-lg-8">

                    <!-- Repair in Progress begin-->

                    <form>
                        <div class="content-row">
                            <h1>
                                Room: @Model.incident.sl_roomID.Title | Type: @Model.incident.sl_type
                            </h1>
                            <label>
                                Dispatcher comments
                            </label>
                            <textarea readonly>@Model.incident.sl_dispatcherComments</textarea>
                        </div>

                        <div class="content-row">
                            <h1>Inspector Comments &amp; Photos</h1>

                            <textarea readonly>@Model.incident.sl_inspectorIncidentComments</textarea>

                            <div class="bg-white inspection-details">
                                <div class="content-block">
                                    <div class="fs-smaller">Photos</div>
                                    <div class="photo-lists">
                                        <ul class="clear">
                                            @foreach (var item in Model.roomInspectionPhotos)
                                            {
                                                <li>
                                                    <div class="crop">
                                                        <img src="@item.sl_roomID.imgUrl" />
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>

                                <div class="bottom-bar">
                                    <a class="repair-link f-teal fs-smaller ff-semilight" href="#">
                                        <i class="icon-appbartools fs-large"></i>
                                        Repair this incident
                                    </a>
                                </div>

                            </div>
                        </div>

                    </form>
                    <!--Repair in Progress ends-->
                </li>
            </ul>
        </div>
    </div>
</div>