@using SuiteLevelWebApp.Utils
@model DashboardInspectionDetailsViewModel
@{
    Layout = "~/Views/Shared/_DemoLayout.cshtml";
    ViewBag.Title = "Inspection Details";
    int counter;
}
@if (Model == null)
{
    <div style="margin:100px auto; text-align:center">
        <img src="~/Content/Images/loading.gif" />
    </div>
}
else
{
    <div class="container body-content">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-gray-light">
            <div class="row">
                <ul>
                    <li class="left-panel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="details">
                            <h1>Inspection Details</h1>
                            <div id="left-panel-wrapper" class="details-block">
                                <input id="propertygroupid" type="hidden" value="@Model.PropertyDetail.sl_group" />
                                <div class="details-img">
                                    <a href="/Dashboard/Property/@Model.inspection.sl_propertyID.Id">
                                        <img src="@Model.PropertyDetail.propertyImgUrl" />
                                    </a>
                                </div>
                                <div class="content-block">
                                    <div class="content-row">
                                        <h2>@Model.inspection.sl_propertyID.Title</h2>
                                    </div>
                                    <div class="content-row fs-smaller">
                                        <span>
                                            @Model.inspection.sl_propertyID.sl_address1
                                            @Model.inspection.sl_propertyID.sl_address2
                                        </span>
                                    </div>
                                    <div class="content-row fs-smaller">
                                        <span>Owned by</span>
                                        <span>@Model.inspection.sl_propertyID.sl_owner</span>
                                    </div>
                                </div>
                                <div class="content-block">
                                    <div class="content-row">
                                        <h2>Inspector: @Model.inspection.sl_inspector</h2>
                                    </div>
                                    <div class="content-row">
                                        <span>
                                            <a class="fs-smaller" href="mailto:@Model.inspection.sl_emailaddress">@Model.inspection.sl_emailaddress</a>
                                        </span>
                                    </div>
                                </div>
                                <!--Accrued Costs-->
                                <div id="accrued" class="content-block">
                                    <div class="content-row">
                                        <h2><i class="ms-Icon ms-Icon--money" aria-hidden="true"></i>Accrued Costs<i class="ms-Icon ms-Icon--chevronThinRight" aria-hidden="true"></i></h2>
                                    </div>
                                    <div class="details-block">
                                        @if (Model.PropertyExcelWorkbook != null)
                                        {
                                            foreach (var item in Model.PropertyExcelWorkbook.propertyExcelWorkbookItems)
                                            {
                                                <div class="content-row">
                                                    <div class="link-see-more">
                                                        <a href="@Model.PropertyExcelWorkbook.webUrl" target="_blank" data-id="@Model.PropertyExcelWorkbook.fileId">@item.title</a>
                                                        <a><i class="ms-Icon ms-Icon--ellipsis" aria-hidden="true"></i></a>
                                                        <a href="@Model.PropertyExcelWorkbook.webUrl" target="_blank" data-id="@Model.PropertyExcelWorkbook.fileId">@item.total</a>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                                <!-- Members -->
                                <div id="members" class="content-block">
                                    <div class="content-row">
                                        <h2><i class="ms-Icon ms-Icon--people" aria-hidden="true"></i>Members<i class="ms-Icon ms-Icon--chevronThinRight" aria-hidden="true"></i></h2>
                                    </div>
                                    <div class="details-block">
                                        @{
                                            int memberCounter = 0;
                                        }
                                        @foreach (var item in Model.members)
                                        {
                                            <div class="content-row">
                                                <!-- Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE in the project root for license information. -->
                                                <div class="ms-Persona ms-Persona ms-Persona--square ms-Persona--xs">
                                                    <div class="ms-Persona-imageArea">
                                                        <img class="ms-Persona-image" src="@Url.Action("UserPhoto", "Photo", new { userId = item.Id })">
                                                    </div>
                                                    <div class="ms-Persona-details">
                                                        <div class="ms-Persona-primaryText">
                                                            @item.DisplayName
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ms-Persona-wrapper">
                                                    <div>
                                                        <div class="ms-PersonaCard ms-PersonaCard--square">
                                                            <div class="ms-PersonaCard-persona">
                                                                <div class="ms-Persona ms-Persona--square ms-Persona--xl">
                                                                    <div class="ms-Persona-imageArea">
                                                                        <i class="ms-Persona-placeholder ms-Icon ms-Icon--person"></i>
                                                                        <img class="ms-Persona-image" src="@Url.Action("UserPhoto", "Photo", new { userId = item.Id })">
                                                                    </div>
                                                                    <div class="ms-Persona-details">
                                                                        <div class="ms-Persona-primaryText">@item.DisplayName</div>
                                                                        <div class="ms-Persona-secondaryText">@item.JobTitle, @item.Department</div>
                                                                        <div class="ms-Persona-tertiaryText">Office: @item.OfficeLocation</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            @*Make a counter to increment the IDs for the data-detailsTargetIds*@
                                                            <ul class="ms-PersonaCard-actions">
                                                                @*<li id="chat" class="ms-PersonaCard-action is-active"><i class="ms-Icon ms-Icon--chat"></i></li>
                                                                <li id="phone" class="ms-PersonaCard-action"><i class="ms-Icon ms-Icon--phone"></i></li>
                                                                <li id="video" class="ms-PersonaCard-action"><i class="ms-Icon ms-Icon--video"></i></li>
                                                                    <li id="mail" class="ms-PersonaCard-action"><i class="ms-Icon ms-Icon--mail"></i></li>*@
                                                                <li id="chatAction" class="ms-PersonaCard-action is-active" data-detailsTargetId="detail-1b-@memberCounter"><i class="ms-Icon ms-Icon--chat"></i></li>
                                                                <li id="phoneAction" class="ms-PersonaCard-action" data-detailsTargetId="detail-2b-@memberCounter"><i class="ms-Icon ms-Icon--phone"></i></li>
                                                                <li id="videoAction" class="ms-PersonaCard-action" data-detailsTargetId="detail-3b-@memberCounter"><i class="ms-Icon ms-Icon--video"></i></li>
                                                                <li id="mailAction" class="ms-PersonaCard-action" data-detailsTargetId="detail-4b-@memberCounter"><i class="ms-Icon ms-Icon--mail"></i></li>
                                                                @*<li id="trendingAction" class="ms-PersonaCard-action" data-detailsTargetId="detail-5b-@memberCounter"><i class="ms-Icon ms-Icon--org"></i></li>*@
                                                            </ul>
                                                            <div class="ms-PersonaCard-actionDetailBox">
                                                                @*<ul id="detailList" class="ms-PersonaCard-detailChat">
                                                                    <li id="chat" class="ms-PersonaCard-actionDetails detail-1">*@
                                                                <ul id="detail-1b-@memberCounter" class="ms-PersonaCard-details">
                                                                    <li class="ms-PersonaCard-actionDetails">
                                                                        <div class="ms-PersonaCard-detailLine"><span class="ms-PersonaCard-detailLabel">Lync:</span> <a class="ms-Link" href="sip:@item.Mail">Start Lync call</a></div>
                                                                    </li>
                                                                </ul>
                                                                <ul id="detail-2b-@memberCounter" class="ms-PersonaCard-details">
                                                                    @*<li id="phone" class="ms-PersonaCard-actionDetails detail-2">*@
                                                                    <li class="ms-PersonaCard-actionDetails">
                                                                        <div class="ms-PersonaCard-detailLine"><span class="ms-PersonaCard-detailLabel">Personal:</span> @item.MobilePhone</div>
                                                                        <div class="ms-PersonaCard-detailLine"><span class="ms-PersonaCard-detailLabel">Work:</span> @item.BusinessPhones.FirstOrDefault()</div>
                                                                    </li>
                                                                </ul>
                                                                <ul id="detail-3b-@memberCounter" class="ms-PersonaCard-details">
                                                                    <li class="ms-PersonaCard-actionDetails">
                                                                        @*<li id="video" class="ms-PersonaCard-actionDetails detail-3">*@
                                                                        <div class="ms-PersonaCard-detailLine"><span class="ms-PersonaCard-detailLabel">Skype:</span> <a class="ms-Link" href="skype:@item.Mail?call">Start Skype call</a></div>
                                                                    </li>
                                                                </ul>
                                                                <ul id="detail-4b-@memberCounter" class="ms-PersonaCard-details">
                                                                    @*<li id="mail" class="ms-PersonaCard-actionDetails detail-4">*@
                                                                    <li class="ms-PersonaCard-actionDetails">
                                                                        <div class="ms-PersonaCard-detailLine"><span class="ms-PersonaCard-detailLabel">Work:</span> <a class="ms-Link" href="mailto:@item.Mail">@item.Mail</a></div>
                                                                    </li>
                                                                </ul>
                                                                @*<ul id="detail-5b-@memberCounter" class="ms-PersonaCard-details">*@
                                                                    @*<li id="mail" class="ms-PersonaCard-actionDetails detail-4">*@
                                                                    @* <li class="ms-PersonaCard-actionDetails">
                                                                        <div class="ms-PersonaCard-detailLine"><span class="ms-PersonaCard-detailLabel">Trending:</span> <a class="ms-Link" href="mailto:@item.Mail">@item.mail</a></div>
                                                                    </li>
                                                                        *@
                                                                @*</ul>*@
                                                                                                                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            memberCounter++;
                                        }
                                    </div>
                                    <div class="content-row">
                                        <a class="seemorelink" href="@string.Format("{0}owa/#path=/group/{1}/people", AADAppSettings.OutlookUrl, Model.UnifiedGroupEmail)" target="_blank">See More</a>
                                    </div>
                                </div>
                                <!-- Tasks -->
                                <div class="content-block task">
                                    <div class="content-row">
                                        <h2><i class="ms-Icon ms-Icon--tasks" aria-hidden="true"></i>In progress Tasks<i class="ms-Icon ms-Icon--chevronThinRight" aria-hidden="true"></i></h2>
                                    </div>
                                    @if (!string.IsNullOrEmpty(Model.PlanId))
                                    {
                                        <div class="details-block">
                                            @foreach (var item in Model.tasks)
                                            {
                                                <div class="content-row">
                                                    <div class="link-see-more">
                                                        <a data-assignedto="@item.AssignedTo" data-assignedby="@item.AssignedBy" data-assigneddate="@item.AssignedDate">@item.Title</a>
                                                        <a><i class="ms-Icon ms-Icon--ellipsis" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="content-row">
                                            <a class="seemorelink" href="@string.Format("{0}{1}/en-US/Home/PlanViews/{2}", AADAppSettings.OfficeUrl, AppSettings.DemoSiteCollectionOwner.Split('@')[1], Model.PlanId)" target="_blank">See More</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="details-block">
                                            <div class="content-row">
                                                <span style="color:red; font-size:12px">
                                                    The Office 365 Planner service is not provisioned on your tenancy yet.  Planner and tasks integration is currently disabled.
                                                </span>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <!-- Conversations -->
                                <div class="content-block">
                                    <div class="content-row">
                                        <h2><i class="ms-Icon ms-Icon--chat" aria-hidden="true"></i>Conversations<i class="ms-Icon ms-Icon--chevronThinRight" aria-hidden="true"></i></h2>
                                    </div>
                                    @HyperLinkLists(Model.conversations, "")
                                    <div class="content-row">
                                        <a class="seemorelink" href="@string.Format("{0}owa/#path=/group/{1}/mail", AADAppSettings.OutlookUrl, Model.UnifiedGroupEmail)" target="_blank">See More</a>
                                    </div>
                                </div>
                                <!-- Recent Documents -->
                                <div class="content-block files">
                                    <div class="content-row">
                                        <h2><i class="ms-Icon ms-Icon--documents" aria-hidden="true"></i>Recent Documents<i class="ms-Icon ms-Icon--chevronThinRight" aria-hidden="true"></i></h2>
                                    </div>
                                    @HyperLinkLists(Model.recentDocuments, "", true)
                                    <div class="content-row">
                                        <a class="seemorelink" href="@string.Format("{0}/_layouts/groupstatus.aspx?id={1}&target=Documents", AppSettings.DemoSiteServiceResourceId, Model.UnifiedGroupId)" target="_blank">See More</a>
                                    </div>
                                </div>
                                <!-- Notes -->
                                <div class="content-block">
                                    <div class="content-row">
                                        <h2><i class="ms-Icon ms-Icon--notebook" aria-hidden="true"></i>Notes<i class="ms-Icon ms-Icon--chevronThinRight" aria-hidden="true"></i></h2>
                                    </div>
                                    @HyperLinkLists(Model.oneNotePages, "")
                                    <div class="content-row">
                                        <a class="seemorelink" href="@string.Format("{0}/_layouts/groupstatus.aspx?id={1}&target=notebook", AppSettings.DemoSiteCollectionUrl, Model.UnifiedGroupId)" target=" _blank">See More</a>
                                    </div>
                                </div>
                                <!-- Dispatcher Email -->
                                <div class="content-block">
                                    <div class="content-row">
                                        <h2><i class="ms-Icon ms-Icon--mail" aria-hidden="true"></i>Dispatcher Email<i class="ms-Icon ms-Icon--chevronThinRight" aria-hidden="true"></i></h2>
                                    </div>
                                    @HyperLinkLists(Model.DispatcherMails, "")
                                    <div class="content-row">
                                        <a class="seemorelink" href="@string.Format("{0}owa/#path=/group/{1}/mail", AADAppSettings.OutlookUrl, Model.UnifiedGroupEmail)" target="_blank">See More</a>
                                    </div>
                                </div>
                                <!-- Property Files< -->
                                <div class="content-block files">
                                    <div class="content-row">
                                        <h2><i class="ms-Icon ms-Icon--fileDocument" aria-hidden="true"></i>Property Files<i class="ms-Icon ms-Icon--chevronThinRight" aria-hidden="true"></i></h2>
                                    </div>
                                    @HyperLinkLists(Model.files, "", true)
                                    <div class="content-row">
                                        <a class="seemorelink" href="@string.Format("{0}/_layouts/groupstatus.aspx?id={1}&target=Documents", AppSettings.DemoSiteServiceResourceId, Model.UnifiedGroupId)" target="_blank">See More</a>
                                    </div>
                                    <!-- Upload Files< -->
                                    <div class="content-row">
                                        <div class="upload-file-block">
                                            @using (Html.BeginForm("UploadFile", "Dashboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                            {
                                                @Html.Hidden("PropertyTitle", Model.incident.sl_propertyID.Title)
                                                @Html.Hidden("IncidentId", Model.incidentId)
                                                <div class="form-button">
                                                    <input type="file" name="File" />
                                                    <br />
                                                    <button>Upload</button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="right-panel col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <div>
                            @if (!string.IsNullOrEmpty(Model.viewName))
                            {
                                @Html.Partial(Model.viewName, Model)
                            }
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="popup-window" style="display:none">
        <div class="content-area">
            <span class="popup-window-fork"></span>
            <!--Incident begin -->
            <div class="incident-window">
                <h3>Incident</h3>
                <div class="content-row clear">
                    <label>Incident Comments</label>
                    <div>
                        <div>
                            @Html.TextAreaFor(m => m.incident.sl_inspectorIncidentComments, new { @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="content-row clear">
                    <label>Incident Type</label>
                    <div>
                        @Html.TextBoxFor(m => m.incident.sl_type, new { @readonly = "readonly" })
                    </div>
                </div>
                <div class="content-row clear img">
                    <label>Photos</label>
                    @if (Model.roomInspectionPhotos != null && Model.roomInspectionPhotos.Where(r => r.sl_incidentIDId != null && r.sl_incidentIDId == Model.incidentId).Count() > 0)
                    {
                        <img src="@Model.roomInspectionPhotos.Where(r => r.sl_incidentIDId != null && r.sl_incidentIDId == Model.incidentId).FirstOrDefault().sl_roomID.imgUrl" />
                    }
                </div>
                <div class="content-row clear">
                    <label>Videos</label>
                    <div class="video-lists" style="padding-left:0px">
                        <ul style="padding:0px">
                            @foreach (var item in Model.videos)
                            {
                                <li style="margin:0; padding:0; list-style:none">
                                    <a href="@item.YammerObjectUrl" target="_blank">
                                        <img style="width:500px; height:300px; margin-bottom:10px" src="@item.ThumbnailUrl" />
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <!--Incident end -->
            <!--Inspection Comments begin-->
            <div class="inspection-comments-window">
                <h3>Inspection Comment</h3>
                <div class="content-row clear">
                    @Html.TextAreaFor(m => m.inspectionComment.Title, new { @readonly = "readonly" })
                </div>
                <h4>Photos</h4>
                <div class="content-row">
                    <p class="imgs">
                        @foreach (var item in Model.roomInspectionPhotos.Where(r => r.sl_incidentIDId != null && r.sl_incidentIDId == Model.incidentId))
                        {
                            <img src="@item.sl_roomID.imgUrl" />
                        }
                    </p>
                </div>
            </div>
            <!--Inspector Comments end -->
            @if (Model.viewName == "RepairComplete" || Model.viewName == "RepairApproved")
            {
        <!--Repair Comments begin-->
                <div class="repair-comments-window">
                    <h3>Repair Comment</h3>
                    <div class="content-row clear">
                        @Html.TextAreaFor(m => m.incident.sl_repairComments, new { @readonly = "readonly" })
                    </div>
                    <h4>Photos</h4>
                    <div class="content-row">
                        <p class="imgs">
                            @foreach (var item in Model.repairPhotos)
                            {
                                <img src="@item.imgUrl" />
                            }
                        </p>
                    </div>
                </div>
        <!--Repair Comments end -->
            }
        </div>
    </div>

    <div id="callouttemplate" style="display:none">
        <div class="ms-Callout ms-Callout--close ms-Callout--arrowLeft">
            <div class="ms-Callout-main">
                <div class="ms-Callout-header">
                    <p class="ms-Callout-title">
                        #Title#
                    </p>
                </div>
                <div class="ms-Callout-inner">
                    <div class="ms-Callout-content">
                        <p class="ms-Callout-subText">
                            #Content#
                        </p>
                    </div>
                    <div class="ms-Callout-actions">
                        <a href="#linkUrl#" target="_blank" class="ms-Callout-link ms-Link ms-Link--hero">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@helper HyperLinkLists(IEnumerable<HyperLink> links, string title, bool addEllipsis = false)
{
    <div class="details-block">
        @foreach (var link in links)
        {
            <div class="content-row">
                @if (string.IsNullOrEmpty(link.WebUrl) || link.WebUrl == "#")
                {
                    <span>@link.Title</span>
                }
                else
                {
                    if (addEllipsis == false)
                    {
                        <a href="@link.WebUrl" target="_blank">@link.Title</a>
                    }
                    else
                    {
                        <div class="link-see-more">
                            <a href="@link.WebUrl" target="_blank" data-id="@link.Id">@link.Title</a>
                            <a><i class="ms-Icon ms-Icon--ellipsis" aria-hidden="true"></i></a>
                        </div>
                    }
                }
            </div>
        }
    </div>
}
@section scripts{
    <script src="~/components/PersonaCard/Jquery.PersonaCard.js"></script>
    <script>
        $(function () {
            $('.popup-window-fork').click(function () {
                $('.popup-window, .popup-window .content-area > div').hide();
            });

            $('#left-panel-wrapper > div:nth-of-type(n + 4) h2').click(function () {
                if ($(this).find('.ms-Icon--chevronThinRight').length == 0) {
                    $(this).find('.ms-Icon--chevronThinDown').removeClass('ms-Icon--chevronThinDown').addClass('ms-Icon--chevronThinRight');
                    $(this).parent().find("~div").hide();

                }
                else {
                    $(this).find('.ms-Icon--chevronThinRight').removeClass('ms-Icon--chevronThinRight').addClass('ms-Icon--chevronThinDown');
                    $(this).parent().find("~div").show();
                }
            });
            $('#left-panel-wrapper > div:nth-of-type(n + 4) > div:first-child ~ div').hide();

            if ($.fn.PersonaCard) {
                $('.ms-PersonaCard').PersonaCard();
            }

            $('#members .content-row > .ms-Persona').click(function () {
                var $personaCard = $(this).next('.ms-Persona-wrapper');

                if ($personaCard.css('display') == 'none') {
                    $('.ms-Persona-wrapper').hide();
                    $personaCard.show();
                }
                else {
                    $('.ms-Persona-wrapper').hide();
                }
            });

            //display file thumbnail
            $('#left-panel-wrapper .files .link-see-more a:last-child').click(function () {
                var tmpl = $('#callouttemplate').html(),
                    $parent = $(this).parent(),
                    $callout = $parent.find('.callout-wrapper');
                if ($callout.length == 1) {
                    if ($callout.css('display') == 'none') {
                        $('.callout-wrapper').hide();
                        $callout.show();
                    }
                    else {
                        $('.callout-wrapper').hide();
                    }
                }
                else {
                    var $link = $parent.find('a').eq(0);
                    var groupid = $('#propertygroupid').val();
                    var html = [
                        '<div class="callout-wrapper" style="display:block">',
                        tmpl.replace('#Title#', $link.text())
                            .replace('#Content#', '<img alt="no file thumbnail" src="/Photo/DriveItemThumbnail?groupId=' + groupid + '&fileId=' + $link.data('id') + '">')
                            .replace('#linkUrl#', $link.attr('href')),
                        '</div>'];

                    $('.callout-wrapper').hide();
                    $parent.append(html.join(''));
                }
            });

            //display property group excel file thumbnail
            $('#accrued .link-see-more a:nth-child(2)').click(function () {
                var tmpl = $('#callouttemplate').html(),
                    $parent = $(this).parent(),
                    $callout = $parent.find('.callout-wrapper');
                if ($callout.length == 1) {
                    if ($callout.css('display') == 'none') {
                        $('.callout-wrapper').hide();
                        $callout.show();
                    }
                    else {
                        $('.callout-wrapper').hide();
                    }
                }
                else {
                    var $link = $parent.find('a').eq(0);
                    var groupid = $('#propertygroupid').val();
                    var imageSrc = '/Dashboard/GetPropertyGroupExcelChart?groupId=' + groupid +
                                   '&fileId=' + $link.data('id') + '&title=' + $link.text();
                    var html = [
                        '<div class="callout-wrapper" style="display:block">',
                        tmpl.replace('#Title#', $link.text())
                            .replace('#Content#', '<img alt="no chart thumbnail" src="' + imageSrc + '">')
                            .replace('#linkUrl#', $link.attr('href')),
                            '</div>'];

                    $('.callout-wrapper').hide();
                    $parent.append(html.join(''));
                                }
                            });

            //display task basic info
            $('#left-panel-wrapper .task .link-see-more a:last-child').click(function () {
                var tmpl = $('#callouttemplate').html(),
                    $parent = $(this).parent(),
                    $callout = $parent.find('.callout-wrapper');
                if ($callout.length == 1) {
                    if ($callout.css('display') == 'none') {
                        $('.callout-wrapper').hide();
                        $callout.show();
                    }
                    else {
                        $('.callout-wrapper').hide();
                    }
                }
                else {
                    var $link = $parent.find('a').eq(0);
                    var assignedTo = $link.data('assignedto');
                    var assignedBy = $link.data('assignedby');
                    var assignedDate = $link.data('assigneddate');
                    var groupid = $('#propertygroupid').val();
                    var html = [
                        '<div class="callout-wrapper" style="display:block">',
                        tmpl.replace('#Title#', $link.text())
                            .replace('#Content#', '<p><span>Assigned To:</span>' +
                                                   assignedTo +
                                                  '</p><p><span>Assigned By:</span>' +
                                                   assignedBy +
                                                  '</p><p><span>Assigned Date:</span>' +
                                                   assignedDate +
                                                  ' </p><p><span>Status:</span>In progress</p>'),
                         '</div>'];

                    $('.callout-wrapper').hide();
                    $parent.append(html.join(''));
                }
            });
        });
    </script>
}