@model DashboardInspectionDetailsViewModel

<h1>Inspection</h1>
<div class="bg-white inspection-details">
    @*<div class="rooms">
            <div class="img-scroll-control clear">
                <a class="left-arrow"></a>
                <div class="img-container">
                    <div class="img-list">
                        <ul class="clear">
                            @foreach (var item in Model.roomInspectionPhotos)
                            {
                                <li>
                                    <img src="@item.sl_roomID.imgUrl" />
                                    <div>
                                        <span>@item.sl_roomID.Title</span>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <a class="right-arrow"></a>
            </div>
        </div>*@
    <div class="content-block">
        <div class="fs-smaller">Photos</div>
        <div class="photo-lists">
            <ul class="clear">
                @foreach (var item in Model.roomInspectionPhotos.Where(r => r.sl_incidentIDId != null && r.sl_incidentIDId == Model.incidentId))
                {
                    <li>
                        <div class="crop">
                            <img src="@item.sl_roomID.imgUrl" />
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
    @if (Model.viewName == "ScheduleRepair")
    {
        <div class="content-block">
            <button class="pull-left fs-smaller" id="annotateImagesButton" type="button" data-form-method="POST" data-form-target="_blank"
                    data-form-action="@Url.Action("AnnotateImages", new { incidentId = Model.incidentId })" @(string.IsNullOrEmpty(Model.oneNoteUrl) ? "disabled": "" )>
                Annotate images
            </button>
        </div>
    }

    <div class="content-block videos">
        <div class="fs-smaller">Videos</div>
        <ul>
            @foreach (var item in Model.videos)
            {
                <li>
                    <a href="@item.YammerObjectUrl" target="_blank">
                        <img src="@item.ThumbnailUrl" />
                    </a>
                </li>
            }
        </ul>
    </div>
    <div class="bottom-bar">
        <a href="javascript:popupwindow('.inspection-comments-window')" class="f-teal fs-smaller ff-semilight">
            <i class="icon-appbardrawpencil fs-reg"></i>
            See inspection comments
        </a>
        <a href="javascript:popupwindow('.incident-window')" class="f-teal fs-smaller ff-semilight">
            <i class="icon-appbartools fs-large"></i>
            See incident details
        </a>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        (function initRoomControl() {
            var count = $('.img-container img').length;
            if (count <= 3) {
                $('.img-scroll-control .left-arrow, .img-scroll-control .right-arrow').css('visibility', 'hidden');
                return;
            }
            else {
                $('.img-list').width(count * 153 + (count - 1) * 20);
                $('.img-scroll-control .left-arrow').click(function () {
                    var left = parseInt($('.img-list').css('left')),
                        count = $('.img-container img').length;
                    if (left < 0) {
                        $('.img-list').animate({
                            left: left + 173
                        }, 500);
                    }
                });
                $('.img-scroll-control .right-arrow').click(function () {
                    var left = parseInt($('.img-list').css('left')),
                        count = $('.img-container img').length;
                    if (left > (count - 3) * -173) {
                        $('.img-list').animate({
                            left: left - 173
                        }, 500);
                    }
                });
            }
        })();
        $('#annotateImagesButton').click(function () {
            var button = $(this);
            $('<form>')
                .attr('method', button.attr('data-form-method'))
                .attr('target', button.attr('data-form-target'))
                .attr('action', button.attr('data-form-action'))
                .appendTo("body")
                .submit()
                .remove();
        });
    });
    function popupwindow(type) {
        var winHeight = $(window).height();
        var bodyHeight = $('body').outerHeight();

        $('.popup-window').height(bodyHeight > winHeight ? bodyHeight : winHeight);
        $('.popup-window .content-area > div').hide();
        $('.popup-window').show();
        $('.popup-window').find(type).show();

        var contentHeight = $('.popup-window > .content-area').outerHeight();
        $(window).scrollTop(0);
        if (winHeight > contentHeight) {
            $('.popup-window > .content-area').css("top", (winHeight - contentHeight) / 2 + $(window).scrollTop() - 100); /* minus the height of margin top 100 of popup content area */
        }
        else {
            $('.popup-window > .content-area').css("top", "10px");
        }

    }
</script>