@model SuiteLevelWebApp.Models.DashboardPropertyViewModel
@{
    Layout = "~/Views/Shared/_DemoLayout.cshtml";
    ViewBag.Title = "Property";
}

<script>
    $(function () {
        $('.left-panel > ul > li a').click(function () {
            if (!$(this).hasClass('selected')) {
                $('.left-panel > ul > li > a').removeClass('selected');
                $(this).addClass('selected');
                $('.right-panel > div').hide();
                updatePagingBar($(this).parent().index());
                $('.right-panel > div').eq($(this).parent().index()).show();
            }
        });

        function updatePagingBar(tabIndex) {
            var $item = $('.right-panel > div:eq(' + tabIndex + ') .list > ul > li'),
                itemCount = $item.length,
                pages = Math.ceil(itemCount / 4);

            $item.hide();
            $item.slice(0, 4).show();
            if (itemCount > 4) {
                $('.paging .pages-num').remove();
                for (var i = 1; i <= pages; i++) {
                    $('.paging .right-arrow').before('<a class="pages-num">' + i + '</a>')
                }
                $('.paging .pages-num').eq(0).addClass('selected');

                $('.paging .pages-num').click(function () {
                    if ($(this).hasClass('selected')) return;
                    $('.paging .pages-num').removeClass('selected');
                    $(this).addClass('selected');
                    $item.hide();
                    var curPage = parseInt($(this).text());
                    $item.each(function () {
                        if ($(this).index() >= (curPage - 1) * 4 && $(this).index() < curPage * 4) {
                            $(this).show();
                        }
                    })
                });

                $('.paging').show();
            }
            else {
                $('.paging').hide();
            }
        }

        function initPagingBar() {
            $('.paging .left-arrow').click(function () {
                var curPage = parseInt($('.paging .pages-num.selected').text()),
                    pages = $('.paging .pages-num').length;

                if (curPage > 1) {
                    $('.paging .pages-num').eq(curPage - 2).trigger('click');
                }
            });

            $('.paging .right-arrow').click(function () {
                var curPage = parseInt($('.paging .pages-num.selected').text()),
                    pages = $('.paging .pages-num').length;

                if (curPage < pages) {
                    $('.paging .pages-num').eq(curPage).trigger('click');
                }
            });

            updatePagingBar(0);
        }

        initPagingBar();
    });
</script>

<div class="container body-content">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-gray-light">
        <div class="row">
            <ul>
                <li class="left-panel col-xs-4 col-sm-4 col-md-4 col-lg-4">

                    <div class="details">

                        <h1>
                            Property Details
                        </h1>

                        <div class="details-block">

                            <div class="details-img">
                                <img src="@Model.PropertyDetail.propertyImgUrl" />
                            </div>

                            <div class="content-row">
                                <h2>@Model.PropertyDetail.Title</h2>
                            </div>

                            <div class="content-row fs-smaller">
                                <span>
                                    @Model.PropertyDetail.sl_address1
                                    @Model.PropertyDetail.sl_address2
                                </span>
                            </div>

                            <div class="content-row fs-smaller">
                                <span>Owned by</span>
                                <span>@Model.PropertyDetail.sl_owner</span>
                            </div>
                        </div>
                    </div>

                    <ul class="left-tabs">
                        <li>
                            <a class="selected fs-reg" href="#Upcoming Inspections">
                                <div class="count-circle"></div>
                                <span class="count f-white ff-semibold">@Model.Inspections.Where(i => i.sl_datetime != null && i.sl_datetime.Value > System.DateTime.Now).Count()</span>
                                <span class="menu-text">Upcoming inspections</span>
                            </a>
                        </li>
                        <li>
                            <a class="fs-reg" href="#Past Inspections">
                                <div class="count-circle"></div>
                                <span class="count f-white ff-semibold">@Model.Inspections.Where(i => i.sl_finalized != null).Count()</span>
                                <span class="menu-text">Past inspections</span>
                            </a>
                        </li>
                        <li>
                            <a class="fs-reg" href="#Open Incidents">
                                <div class="count-circle"></div>
                                <span class="count f-white ff-semibold">@Model.Incidents.Where(i => i.sl_status == "Pending Assignment" || i.sl_status == "Repair Assigned").Count()</span>
                                <span class="menu-text">Need repair</span>
                                @if (Model.Incidents.Where(i => (i.sl_status == "Pending Assignment" || i.sl_status == "Repair Assigned") && i.sl_repairScheduled == null).Count() > 0)
                                {
                                    <div class="orange-count-circle"></div>
                                }
                            </a>
                        </li>
                        <li>
                            <a class="fs-reg" href="#Closed Incidents">
                                <div class="count-circle"></div>
                                <span class="count f-white ff-semibold">@Model.Incidents.Where(i => i.sl_repairCompleted != null).Count()</span>
                                <span class="menu-text">Repair complete</span>
                                @if (Model.Incidents.Where(i => i.sl_repairCompleted != null && i.sl_repairApproved == null).Count() > 0)
                                {
                                    <div class="orange-count-circle"></div>
                                }
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="right-panel col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <!-- Upcoming Inspections begin-->
                    <div>
                        <h1>
                            Upcoming Inspections
                        </h1>
                        <div class="list">
                            <ul>
                                @foreach (var item in Model.Inspections.Where(i => i.sl_datetime != null && i.sl_datetime.Value > System.DateTime.Now))
                                {
                                    <li>
                                        <div class="cta clear">
                                            <div class="content pull-left bg-white">
                                                <div class="content-row clear">
                                                    <div class="pull-left">
                                                        <i class="icon-appbartools pull-left"></i>

                                                        <!-- bingding Inspector Name -->
                                                        <h2 class="f-teal">
                                                            Inspector:
                                                            <span>
                                                                @item.sl_inspector
                                                            </span>
                                                        </h2>
                                                        
                                                        <div>
                                                            <!-- bingding Inspector Email Name -->
                                                            <span><a class="fs-smaller" href="mailto:@item.sl_emailaddress">@item.sl_emailaddress</a></span>
                                                        </div>

                                                    </div>

                                                    <div class="pull-right bg-teal f-white">

                                                        <div class="label">Scheduled</div>
                                                            <!-- bingding Inspection Date -->
                                                            <!--TODO - make short dates with week day, month, date and year to match Visual Design.-->
                                                            @if (item.sl_datetime != null && item.sl_datetime.HasValue)
                                                            {
                                                                <div class="fs-smaller">@item.sl_datetime.Value.ToShortDateString()</div>
                                                            }
                                                            else
                                                            {
                                                                <div></div>
                                                            }
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- Upcoming Inspections end-->
                    <!-- Past Inspections begin-->
                    <div style="display:none">
                        <h1>
                            Past Inspections
                        </h1>
                        <div class="list">
                            <ul>
                                @foreach (var item in Model.Inspections.Where(i => i.sl_finalized != null))
                                {
                                    <li>
                                        <div class="cta clear">
                                            <div class="content pull-left bg-white">
                                                <div class="content-row clear">
                                                    <div class="pull-left">
                                                        <i class="icon-appbartools pull-left"></i>

                                                        <!-- bingding Inspector Name -->
                                                        <h2 class="f-teal">
                                                            Inspector: @item.sl_inspector
                                                        </h2>

                                                        <div>
                                                            <!-- bingding Inspector Email Name -->
                                                            <span><a class="fs-smaller" href="mailto:@item.sl_emailaddress">@item.sl_emailaddress</a></span>
                                                        </div>
                                                    </div>

                                                    <div class="pull-right bg-teal f-white">

                                                        <div class="label">Completed</div>
                                                            <!-- bingding Inspection Date -->
                                                            <!--TODO - make short dates with week day, month, date and year to match Visual Design.-->
                                                            @if (item.sl_datetime != null && item.sl_datetime.HasValue)
                                                            {
                                                                <div class="fs-smaller">@item.sl_datetime.Value.ToShortDateString()</div>
                                                            }
                                                            else
                                                            {
                                                                <div></div>
                                                            }
                                                        
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- Past Inspections end-->
                    <!-- Open Incidents begin-->
                    <div style="display:none">
                        <h1>
                            Open Incidents
                        </h1>
                        <div class="list">
                            <ul>
                                @foreach (var item in Model.Incidents.Where(i => i.sl_status == "Pending Assignment" || i.sl_status == "Repair Assigned"))
                                {
                                    <li>
                                        <div class="cta clear">
                                            <div class="content pull-left bg-white">
                                                <div class="content-row clear">
                                                    <div class="pull-left">
                                                        <i class="icon-appbartools pull-left"></i>

                                                        <!-- bingding Inspector Name -->
                                                        <h2 class="f-teal">
                                                            Inspector:

                                                            @if (item.inspection != null)
                                                            {
                                                                <span>@item.inspection.sl_inspector</span>
                                                            }
                                                            else
                                                            {
                                                                <span></span>
                                                            }
                                                        </h2>

                                                        <div>
                                                            <!-- bingding Inspector Email Name -->
                                                            @if (item.inspection != null)
                                                            {
                                                                <span><a class="fs-smaller" href="mailto:@item.inspection.sl_emailaddress">@item.inspection.sl_emailaddress</a></span>
                                                            }
                                                            else
                                                            {
                                                                <span></span>
                                                            }

                                                        </div>

                                                    </div>

                                                    
                                                    @if (item.sl_repairScheduled != null && item.sl_repairScheduled.HasValue)
                                                    {
                                                        <div class="pull-right bg-teal f-white">
                                                            <div class="label">Scheduled</div>
                                                            <!-- bingding Repair Scheduled On Date -->
                                                            <!--TODO - make short dates with week day, month, date and year to match Visual Design.-->
                                                            <div class="fs-smaller">@item.sl_repairScheduled.Value.ToShortDateString()</div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="pull-right f-white bg-orange">
                                                            <!-- bingding Repair Scheduled On Date -->
                                                            <!--TODO - make short dates with week day, month, date and year to match Visual Design.-->
                                                            <a class="fs-smaller f-white" href="/Dashboard/InspectionDetails/@item.Id">Not Scheduled</a>
                                                        </div>
                                                    }

                                                </div>
                                            </div>
                                            @if (item.sl_repairScheduled == null)
                                            {
                                                <div class="right-triangle"></div>
                                            }
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- Open Incidents end-->
                    <!-- Closed Incidents begin-->
                    <div style="display:none">
                        <h1>
                            Closed Incidents
                        </h1>
                        <div class="list">
                            <ul>
                                @foreach (var item in Model.Incidents.Where(i => i.sl_repairCompleted != null))
                                {
                                    <li>
                                        <div class="cta clear">
                                            <div class="content pull-left bg-white">
                                                <div class="content-row clear">
                                                    <div class="pull-left">
                                                        <i class="icon-appbartools pull-left"></i>
                                                       
                                                        <h2 class="f-teal">
                                                            Room:
                                                            <!-- bingding Room Name -->
                                                            @if (item.sl_roomID != null)
                                                            {
                                                                <span>@item.sl_roomID.Title</span>
                                                            }
                                                            else
                                                            {
                                                                <span></span>
                                                            }
                                                        </h2>

                                                        <div>
                                                            <!-- bingding Inspector Email Name -->
                                                            @if (item.inspection != null)
                                                            {
                                                                <span><a class="fs-smaller" href="mailto:@item.inspection.sl_emailaddress">@item.inspection.sl_emailaddress</a></span>
                                                            }
                                                            else
                                                            {
                                                                <span></span>
                                                            }
                                                        </div>

                                                    </div>

                                                            
                                                    @if (item.sl_repairApproved != null && item.sl_repairApproved.HasValue)
                                                    {
                                                        <div class="pull-right bg-teal f-white">
                                                            <div class="label">Approved</div>
                                                            <!-- bingding Approved Date -->
                                                            <!--TODO - make short dates with week day, month, date and year to match Visual Design.-->
                                                            <div class="fs-smaller">@item.sl_repairApproved.Value.ToShortDateString()</div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="pull-right bg-orange f-white">
                                                            <a class="fs-smaller f-white" href="/Dashboard/InspectionDetails/@item.Id">Not Approved</a>
                                                        </div>
                                                    }


                                                </div>

                                            </div>
                                            @if (item.sl_repairApproved == null)
                                            {
                                                <div class="right-triangle"></div>
                                            }
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- Closed Incidents end-->
                    <!-- Pagination -->
                    <!--TODO - Make 'previous and 'next' buttons work-->
                    <section class="paging pull-right">
                        <a><div class="left-arrow"></div></a>
                        <a class="pages-num selected">1</a>
                        <a class="pages-num">2</a>
                        <a class="pages-num">3</a>
                        <a><div class="right-arrow"></div></a>
                    </section>

                </li>
            </ul>
        </div>
    </div>
</div>