@model DashboardInspectionDetailsViewModel

<h1>Schedule a repair</h1>
@using (Html.BeginForm("ScheduleRepair", "Dashboard", FormMethod.Post))
{
    @Html.HiddenFor(m => m.incidentId)
    <form>
        <div class="content-row">
            @Html.Partial("Inspection", Model)
        </div>
        <div class="content-row">
            <label>Dispatcher comments</label>
            @Html.TextArea("dispatcherComments")
        </div>
        <div class="schedule-repair">
            <div class="content-row">
                @Html.Hidden("repairPeopleSelectedValue")
                <label for="repairPeopleSelectedValue">Repair person:</label>
                <select id="repairPeopleList">
                    @foreach (var item in Model.repairPeople)
                    {
                        <option value="@item.mail" data-class="avatar" data-style="background-image: url(@Url.Action("UserPhoto", "Photo", new { userId = item.mail })); background-size:contain">@item.displayName</option>
                    }
                </select>
                <span class="error-message">*</span>
            </div>
            <div class="content-row">
                <label class="pull-left">Date:</label>
                <div class="fs-smaller">
                    @System.DateTime.Now.AddDays(1).ToShortDateString()
                </div>
            </div>
            <div class="content-row">
                <label for="TimeSlots">Time:</label>
                @Html.Hidden("timeSlotsSelectedValue")
                <select id="TimeSlots">
                    <option>Loading...</option>
                </select>
                <span class="error-message">*</span>
            </div>
            <div class="content-row with-button">
                <button class="pull-right button-large" id="btn_scheduleRepair">Schedule Repair</button>
            </div>
        </div>
    </form>
    <script>
        $(function () {
            $.widget("custom.TFOiconSelectImg", $.ui.selectmenu, {
                _renderItem: function (ul, item) {
                    var li = $("<li>", { html: item.element.html() });
                    var attr = item.element.attr("data-style");
                    if (typeof attr !== typeof undefined && attr !== false) {
                        $("<span>", {
                            style: item.element.attr("data-style"),
                            "class": "ui-icon TFOOptlstFiltreImg"
                        }).appendTo(li);
                    }
                    return li.appendTo(ul);
                }
            });

            $('#TimeSlots').selectmenu();

            (function initTimeSlots() {
                var sel = $('#TimeSlots');
                if (sel.length > 0) {
                    var now = new Date(), tomorrow = (now.setDate(now.getDate() + 1), new Date(now.toDateString()));
                    $.getJSON("/O365Calendar/GetAvailableTimeSlots?localTimeUtc=" + tomorrow.toJSON(), function (data) {
                        if (data.length > 0) {
                            sel.html('').append("<option selected value='0'>Available Time Slots</option>");
                            for (var i = 0; i < data.length; i++) {
                                sel.append("<option value=" + data[i].Start + ">" + data[i].Value + "</option>");
                            }
                            sel.change(function () {
                                if ($(this).val() > 0) {
                                    tomorrow.setHours($(this).val());
                                    $('#timeSlotsSelectedValue').val(tomorrow.toJSON());
                                }
                            });
                        }
                        else {
                            sel.html('').append("<option selected value='0'>No Available Time Slots</option>");
                        }
                        $('#TimeSlots').selectmenu('refresh');
                    });
                }
            })();

            $("#repairPeopleList").TFOiconSelectImg({
                create: function (event, ui) {
                    var widget = $(this).TFOiconSelectImg("widget"); var $SpanTxt = widget.children(":last");
                    $span = $('<span></span>').prependTo($SpanTxt);
                    $span.attr("style", $(this).children(":first").data("style"));
                    $('#repairPeopleSelectedValue').val($('#repairPeopleList').val());
                },
                change: function (event, ui) {
                    var widget = $(this).TFOiconSelectImg("widget"); var $SpanTxt = widget.children(":last");
                    $span = $('<span></span>').prependTo($SpanTxt);
                    $span.attr("style", ui.item.element.data("style"));
                    $('#repairPeopleSelectedValue').val($('#repairPeopleList').val());
                }
            }).TFOiconSelectImg("menuWidget").addClass("ui-menu-icons customicons");
            
            $('#btn_scheduleRepair').click(function (event) {
                $('.error-message').hide();
                if ($('#repairPeopleSelectedValue').val() == 0) {
                    event.preventDefault();
                    $('.error-message').eq(0).show();
                }
                if ($('#TimeSlots').val() == 0) {
                    event.preventDefault();
                    $('.error-message').eq(1).show();
                }
                else {
                    var now = new Date(), tomorrow = (now.setDate(now.getDate() + 1), new Date(now.toDateString()));
                    tomorrow.setHours($('#TimeSlots').val());
                    $('#timeSlotsSelectedValue').val(tomorrow.toJSON());
                }
            });
        });
    </script>
}