@using SuiteLevelWebApp.Models
@using Newtonsoft.Json.Linq
@model  Incident
@{
    Layout = null;
    var inspectionPhotosAttachments = ViewBag.InspectionPhotosAttachments as IEnumerable<Microsoft.Office365.OutlookServices.FileAttachment>;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <p>The incident found during a recent inspection on you property has been repaired. Photographs taken during the inspection and after the repair are attached to this email.</p>    
    <br />
    <p><b>Property Name:</b> @Model.sl_propertyID.Title</p>
    <p><b>Property Address:</b></p>
    <p>@Model.sl_propertyID.sl_address1</p>
    <p>@Model.sl_propertyID.sl_address2</p>
    <br />
    <p><b>Inspection Date:</b> @Date(Model.sl_inspectionID.sl_datetime)</p>
    <p><b>Incident Type:</b> @Model.sl_type</p>
    <p><b>Room:</b> @Model.sl_roomID.Title</p>
    <p><b>Comments from the inspector:</b></p>
    <p>@Model.sl_inspectorIncidentComments</p>   
    <p><b>Incident reported:</b> @Date(Model.sl_date)</p>
    <br />
    <p><b>Repair Date:</b> @Date(Model.sl_repairCompleted)</p>
    <p><b>Comments from repair person:</b></p>
    <p>@Model.sl_repairComments</p>
    <br />
    <p><b>Attachments: (Inspection Photos)</b></p>
    @if (!inspectionPhotosAttachments.Any())
    {
        <p style="color:gray"><i>(No attachments)</i></p>
    }
    @foreach (var attachment in inspectionPhotosAttachments)
    {
        <img alt="@attachment.Name" src="cid:@attachment.ContentId" />
    }
</body>
</html>

@helper Date(DateTime? dateTime)
{
    if (dateTime.HasValue)
    {
        @dateTime.Value.ToString("MM/dd/yyyy")
    }
}
