@{
    Layout = "~/Views/Shared/_MailAFOLayout.cshtml";
    ViewBag.Title = "Mail App For Office";
}

<script type="text/javascript">
    $(function () {

        //replace repair link href with app link and incident id from location
        var locArray = document.location.pathname.split('/');
        var loc = locArray[locArray.length - 1];
        $('.repair-link').attr('href', 'repairApp://' + loc);
    })
</script>
<div class="contoso-container contoso-inspection-details">
    <ul>
        <li class="left-panel">
            <header>
                <h1>
                    Inspection Details
                </h1>
            </header>
            <div class="details">
                <h3>
                    Property Details
                </h3>
                <div class="details-block">
                    <div class="content-row">
                        <span>Name</span>
                        <span>@Model.inspection.sl_propertyID.Title</span>
                    </div>
                    <div class="content-row">
                        <span>Owner</span>
                        <span>@Model.inspection.sl_propertyID.sl_owner</span>
                    </div>
                    <div class="content-row">
                        <span>Address</span>
                        <span>
                            @Model.inspection.sl_propertyID.sl_address1
                            @Model.inspection.sl_propertyID.sl_address2
                        </span>
                    </div>
                    <div style="clear:both"></div>
                </div>
                <img src="@Model.inspection.sl_propertyID.propertyImgUrl" />
                <iframe style="display:none" src="@Model.inspection.sl_propertyID.propertyImgUrl"></iframe>
                <h3>
                    Inspection Details
                </h3>
                <div class="details-block">
                    <div class="content-row">
                        <span>Name</span>
                        <span>@Model.inspection.sl_inspector.Title</span>
                    </div>
                    <div class="content-row">
                        <span>Email</span>
                        <span>@Model.inspection.sl_inspector.sl_emailaddress</span>
                    </div>
                    <div class="content-row">
                        <span>Inspection Date</span>
                        <span>@Model.inspection.sl_datetime</span>
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
        </li>
        <li class="gradient-split"></li>
        <li class="right-panel">
            <!-- Repair in Progress begin-->
            <div>
                <header>
                    <h1>
                        Room: @Model.incident.sl_roomID.Title | Type: @Model.incident.sl_type
                    </h1>
                </header>
                <div class="form">
                    <div class="dispatcher-comments">
                        <h3>
                            Dispatcher Comments
                        </h3>
                        <div>
                            <textarea readonly>@Model.incident.sl_dispatcherComments</textarea>
                        </div>
                    </div>
                    <div class="section">
                        <h3>Inspector Comments &amp; Photos</h3>
                        <div class="section-main">
                            <div class="rooms">
                                <div class="img-scroll-control clear">
                                    <div class="img-container">
                                        <div class="img-list">
                                            <ul class="clear">
                                                @foreach (var item in Model.roomInspectionPhotos)
                                                {
                                                    <li><img src="@item.sl_roomID.imgUrl" /></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-break dispatcher-comments">
                        <textarea readonly>@Model.incident.sl_inspectorIncidentComments</textarea>
                    </div>
                    <div class="section">
                        <a class="repair-link" href="#"><img src="~/Content/Images/ico-repair.png" />Repair This Incident</a>
                    </div>
                </div>
            </div>

        </li>
    </ul>

</div>