<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mail App for Office</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/Fonts/Office365-Icons/style.css")
    @Styles.Render("~/Content/contoso.css")
    @RenderSection("scripts", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>